@import 'mixins';
@import 'variables';

.hero {
  position: relative;
  
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;

  color: $white;
  @include flex-center;
  text-align: center;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--hero-overlay);
    z-index: 1;
  }

  .overlay-content {
    position: relative;
    z-index: 2;
    @include flex-column;
    text-align: center;
    height: 100%;
    max-width: 576px;


    h1 {
      font-size: 64px;
      font-family: Gilda Display;
      margin-bottom: 1.5rem;
      font-weight: 400;
      color: $white;

      // @include flex-center;
      // width:57%;
      @include respond(sm) {
        font-size: 32px;
      }

      @include respond(md) {
        font-size: 32px;
      }
    }

    a.btn {
      display: inline-block;
      font-family: $font-second;
      height: 40px;
      padding: 8px 24px;
      font-size: 14px;
      display: flex;
      align-items: center;
      // height: 40px;
      background-color: $white;
      color: var(--hero-button-text);
      text-decoration: none;
      border: none;
      font-weight: 600;
      border-radius: 2px;
      transition: background-color 0.3s ease;
      letter-spacing: 1px;

      &:hover {
        background-color: var(--hero-button-text);
        color: $white;
        font-weight: 600;
      }

      @include respond(sm) {
        width: 314px;
        justify-content: center;
      }


    }


  }

}

.rotating-badge1 {
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 140.8px;
  height: 140.5px;
  z-index: 2;

  @include respond(sm) {
    right: 17.2px;
    bottom: -7%;
    width: 140.8px;
    height: 140.5px;
  }

  .center-logo,
  .circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* keep this for initial centering */
  }

  .center-logo img {
    width: 60px;
    height: auto;
    z-index: 2;

    @include respond(sm) {
      width: 42px;
      height: 65px;
    }
  }

  .circle-text {
    z-index: 1;
    transform-origin: center center;
    will-change: transform;
    animation: rotateText1 13s cubic-bezier(0.6, 0.05, 0.36, 0.6) infinite;
    // animation: rotateText1 8s linear infinite;


    img {
      width: 140px;
      height: auto;
      display: block;
    }
  }
}


@keyframes rotateText1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(270deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}