 .cards {
     padding-top: 60px;
     padding-left: 0 !important;
     padding-right: 0 !important;
     background-color: var(--room-bg);

     @include respond(sm) {
         padding-top: 0px !important;
         padding-right: calc(var(--bs-gutter-x) * .5) !important;
         padding-left: calc(var(--bs-gutter-x) * .5) !important;
     }

     .carousel-wrapper {
         padding-bottom: 80px;

         @include respond(xl) {
             // padding: 0 80px;
             // padding-bottom: 80px;
         }

         .carousel-header {
             display: flex;
             justify-content: space-between;
             align-items: center;
             padding-left: 0 !important;
             padding-right: 14px !important;

             //  margin-bottom: 1.5rem;

             h1 {
                 color: var(--h1-color);
             }

             p {
                 color: var(--p-color);
             }

             h1 {
                 font-size: 2rem;
                 font-family: $font-base;
                 margin: 0;

                 @include respond(sm) {
                     font-size: 22px;
                 }
             }



         }

         .carousel-buttons {
             //  display: flex;
             //  gap: 16px;
             position: relative;
             top: 240px;
             z-index: 100;


             .arrow-btn {
                 position: absolute;
                 background: none;
                 border: none;
                 width: 48px;
                 height: 48px;
                 border-radius: 50%;
                 color: var(--secondary-color);
                 font-size: 24px;
                 @include flex-center;
                 transition: background 0.3s ease;
                 line-height: 1;

                 &:hover {
                     background-color: #E4D7C3;
                     color: $white;
                 }

                 @include respond(sm) {
                     display: none;
                 }

                 @include respond(md) {
                     display: none;
                 }

                 &.carousel-prev {
                     left: -60px;
                 }

                 &.carousel-next {
                     right: -60px;
                 }

                 /* Custom media query for 991px to 1222px */
                 




             }



         }
         @media (min-width: 992px) and (max-width: 1244px) {
                     .carousel-buttons {
                         top: -70px !important;
                     }

                     .arrow-btn {

                         // @include arrow-btn;
                         position: absolute;
                         top: -17%;
                         z-index: 10;
                         background: none;
                         border: none;

                         cursor: pointer;
                         @include flex-center;
                         transition: transform 0.3s ease;
                         width: 48px;
                         height: 48px;
                         border-radius: 50%;

                         &:hover {
                             background-color: var(--arrow-bg-color);
                         }

                         svg {
                             width: 48px !important;

                             height: 48px !important;
                             min-width: 48px;
                             min-height: 48px;
                             max-width: 48px;
                             max-height: 48px;

                             path {
                                 // stroke: #000;
                                 // transition: stroke 0.3s ease;
                             }
                         }

                         &:hover {
                             transform: scale(1.1);

                             svg path {
                                 stroke: var(--arrow-color);
                             }

                         }



                         &.carousel-prev {
                             left: calc(100% - 140px) !important;


                             @include respond (custom) {}
                         }

                         &.carousel-next {
                             right: 19px !important;

                             // @include respond (custom) {
                             //   right: -40px;
                             // }
                         }
                     }
                 }

     }

     .swiper-slide {
         width: 300px;
         //  margin-right: 23.5px !important;

         @include respond(sm) {
             margin-right: 30px !important;
         }
     }


     .custom-card {
         position: relative;
         overflow: hidden;
         border-radius: 0;
         border: none;

         .card-img-top {
             border-radius: 0;
             width: 100%;
             min-height: 300px;
             height: 500px;
             object-fit: cover;
             display: block;
             transition: transform 0.5s ease;
             transform: scale(1.05);

             @include respond(sm) {
                 height: 397px;
             }
         }

         &:hover .card-img-top {
             transform: scale(1.09);
         }






         // Transparent overlay
         &::after {
             content: "";
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
             z-index: 1;
             pointer-events: none; // allows clicks to go through
         }


         .card-body {
             position: absolute;
             bottom: 0;
             left: 0;
             right: 0;
             // background: rgba(0, 0, 0, 0.6);
             color: white !important;
             padding: 1rem;
             z-index: 2;
         }

         .static-content {
             font-size: 22px;
             font-weight: 400;
             margin-bottom: 0.5rem;
             font-family: $font-base;

             @include respond(sm) {
                 font-size: 18px;
             }
         }

         .hover-content {
             position: absolute;
             bottom: 0;
             left: 0;
             right: 0;
             padding: 1rem;
             background: var(--overly-background-color);
             color: white;
             transform: translateY(100%);
             opacity: 0;
             transition: transform 0.6s ease, opacity 0.6s ease;
             z-index: 1;

             h5 {
                 font-family: $font-base;
                 font-size: 22px;
                 font-weight: 400 !important;

                 @include respond(sm) {
                     font-size: 18px;
                 }
             }

             .card-row {
                 padding: 10px 1px;
                 font-size: 16px;
                 font-family: $font-second;
                 font-weight: 400;

                 @include respond(sm) {
                     font-size: 12px;
                 }
             }

             .explore-btn {
                 font-family: $font-second;
                 padding-top: 10px;
                 font-size: 14px;
                 background-color: transparent;
                 color: $white;
                 text-decoration: none;
                 font-weight: 400;
                 border: none;
                 transition: background-color 0.3s ease;
                 text-decoration: underline;
                 text-underline-offset: 6px;

                 .arrow {
                     display: none;
                     // transition: transform 0.3s ease;
                 }

                 &:hover .arrow {
                     display: inline-block;
                     transform: translateX(4px);

                 }

                 &:hover {
                     text-decoration: none;
                     color: $white;

                 }

                 @include respond(sm) {
                     font-size: 14px;
                 }
             }
         }

         &:hover {
             .static-content {
                 visibility: hidden;
             }

             .hover-content {
                 transform: translateY(0%);
                 opacity: 1;
             }
         }
     }

 }