@import 'variables';
.site-footer-theater {
  background: var(--footer-background-theater); 
  color: #fff;
  font-size: 0.95rem;
  @include respond(sm){
    padding: 0 7px;
  }
  @include respond(xl){
    // height: 343px;
    padding: 0 140px;
  }

  .footer-logo{
    width: 100%;
    padding-bottom: 10px;
    height: 50px;
    @include respond(sm){
      height: 40px;
    }
  }

  .Address{
    padding-left: 5rem;

    @include respond(sm){
     padding-left: calc(var(--bs-gutter-x) * .5);
    }
  }

  .footer-title {
    font-size: 48px;
    font-weight: 400;
    font-family: $font-base ;
   
  }

  .footer-label {
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #FFFFFFB2;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .social-icons i {
    font-size: 1.2rem;
    color: #fff;
    transition: color 0.3s;

    &:hover {
      color: #d4b89f;
    }
  }
  
  .partner-logos-theater{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include respond(sm){
      justify-content: start;
      gap: 20px;
    }
    
    
    
   img {
    max-height: 34px;
    max-width: 112px;
    // filter: brightness(0) invert(1);
  }
}

  .footer-bottom {
    font-size: 0.875rem;

    a {
      color: #ccc;
      &:hover {
        color: #fff;
      }
    }

    border-color: rgba(255, 255, 255, 0.1);
  }
}

@include respond(md) {
  .site-footer-theater {
    .row {
      // flex-direction: column !important;
    }

    .col-md-3,
    .Address {
      width: 100% !important;
      max-width: 100%;
      padding: 0;
    }

    .partner-logos {
      justify-content: flex-end !important;
     

     
    }

    .footer-bottom {
      
      align-items: flex-start !important;
      gap: 0.75rem;
    }
  }
}

.font-w1{
  font-weight: 400 !important;
}


.pdf-modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.pdf-modal-content {
  position: relative;
  margin: 5% auto;
  width: 80%;
  max-width: 900px;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
}

.pdf-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
