.site-header-hc {
  position: fixed;

  top: 0;
  left: 0;
  height: 112px;
  width: 100%;
  z-index: 999;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.344) 45%, rgba(0, 0, 0, 0.266697) 65.5%, rgba(0, 0, 0, 0) 100%);
  ;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;

  @include respond(sm) {
    padding-left: 9px !important;
    padding-right: 9px !important;
  }

  @include respond(xl) {
    padding-left: 120px !important;

    padding-right: 125px !important;
  }


  &.scrolled {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    // padding-top: 5px;

    #logo a img,
    .main-nav,
    .hamburger {
      transition: all 0.4s ease;
    }

    #logo a img {
      // max-height: 70px;
      transition: all 0.3s ease;
    }

    .main-nav ul li a {
      color: $white !important;
    }

    .hamburger {
      color: $white !important;
    }

    .language-nav1 {

      opacity: 0 !important;
      transform: translateY(-10px) !important;
      pointer-events: none !important;
      transition: opacity 0.3s ease, transform 0.3s ease !important;
      height: 0 !important;
    }
  }

  .header-container {
    #logo {
      a {
        display: inline-block;

        img {
          max-height: 88px !important;
          width: 168px;
          padding-top: 11px;
          display: block;
          transition: all 0.3s ease;

          @include respond(sm) {
            height: auto;
            width: auto;
          }
        }
      }
    }
    
  }




  #header {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    top: -45px;
    padding-right: 0;

    @include respond (md) {
      top: -45px;
    }






    .main-nav {

      display: flex;
      flex: 1;
      justify-content: end;

      ul {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;

          a {
            text-decoration: none;
            color: $white;
            font-weight: 500;
            font-family: "Instrument Sans", sans-serif;
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;

            &:hover {
              color: $white;
              font-weight: 600;
              text-decoration: underline;
              text-decoration-color: gold;
              text-underline-offset: 10px;
            }

          }
        }
      }

      @include respond(sm) {


        ul {
          flex-direction: column;
          padding: 1rem 2rem;
          position: absolute;
          top: 10%;

          li {
            margin: 10px 0;
          }
        }

        &.active {
          display: flex;
        }
      }

      @include respond(md) {


        ul {
          flex-direction: column;
          padding: 1rem 2rem;
          position: absolute;
          top: 10%;

          li {
            margin: 10px 0;
          }
        }

        &.active {
          display: flex;
        }
      }

      &.active {
        ul {
          flex-direction: column;
          padding: 1rem 2rem;
          position: absolute;
          top: 10%;

          li {
            margin: 10px 0;
          }
        }

        position: fixed;
        top: 90px;
        right: 0;
        width: 300px;
        height: calc(100vh - 90px);
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 999;
        padding: 2rem 1rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
        overflow-y: auto;

        @include respond(sm) {
          width: 100%;
          @include flex-center;
        }

        @include respond(md) {
          width: 100%;
          @include flex-center;
        }
      }

      @media (max-width: 1284px) {
        display: none; // hide when hamburger shows
      }

    }

    .hamburger-menu {
      padding-left: 48px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      height: 24px;

      @media (max-width: 1284px) {
        display: flex; // show the button
      }




      .hamburger {
        background: none;
        border: none;
        font-size: 28px;
        cursor: pointer;
        color: white;
        transition: color 0.3s ease;

      }

      .line {
        height: 2px;
        background-color: white;
        border-radius: 2px;
        transition: width 0.3s ease;
      }

      .top,
      .middle {
        width: 24px;
      }

      .bottom {
        width: 18px;
        align-self: flex-end;
        transform-origin: right;
      }

      &:hover .bottom {
        width: 24px;
      }
    }

  }

  @include respond(sm) {
    #header {
      .main-nav {
        display: none;

        &.active {
          display: flex;
          background-color: #0c0b0a;
          opacity: 80%;
          height: 90vh;
        }
      }
    }
  }

  @include respond(md) {
    #header {
      .main-nav {
        display: none;

        &.active {
          display: flex;
          background-color: #0c0b0a;
          opacity: 80%;
          height: 90vh;
        }
      }
    }
  }

  @include respond(custom) {
    #header {
      .main-nav {
        display: none;

        &.active {
          display: flex;
          background-color: #0c0b0a;
          opacity: 80%;
          height: 90vh;
        }
      }
    }
  }

}


.language-nav1 {
  position: relative;
  // top: 10px;
  padding-top: 16px;
  justify-content: flex-end;

  @include respond(sm) {
    // right: 10px;
  }



  .language-list {
    font-family: $font-second;
    display: flex;
    gap: 0;
    list-style: none;
    margin: 0;

    color: $white;
    font-size: 13px;

    .language-item {
      .language-link {
        text-decoration: none;
        font-weight: 400;
        color: white;
        opacity: 0.8;
        transition: all 0.3s ease;

        &.active,
        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
  }
}