@import 'mixins';
@import 'variables';

.hero-hc {
    position: relative;
    height: 100vh;
    overflow: hidden;
    max-height: 850px;

    
    .hero-video,
    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    //
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        width: 100%;
        height: 101%;
        background: linear-gradient(180deg, rgba(38, 22, 11, 0) 71.65%, #26160B 95.16%),
            radial-gradient(29.65% 29.65% at 50% 50%, rgba(33, 22, 4, 0.4) 69.81%, rgba(33, 22, 4, 0) 100%);

        z-index: 1;
    }

   
    .overlay-content {
        position: relative;
        z-index: 2;
        color: white;
        max-width: 579px !important;
    }
}

.next-section { 
  margin-top: 0; 
}
