@import 'mixins';
@import 'variables';

.hero-barboman {
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-height: 850px;


  .hero-video,
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  //
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 101%;


    background: linear-gradient(180deg, rgba(38, 22, 11, 0) 71.65%, #0B0704 95.16%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));


    z-index: 1;
  }


  .overlay-content {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 579px !important;
    @include respond(sm){
      padding: 5px;
    }

    h1 {
      font-family: $font-base !important;
    }
  }
}

.next-section {
  margin-top: 0;
}