@import 'mixins';
@import 'variables';

.hero-casbar {
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-height: 850px;


  .hero-video,
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  //
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 101%;
    background: linear-gradient(180deg, rgba(3, 20, 30, 0) 82.77%, #03141E 100%),
      linear-gradient(180deg, rgba(11, 7, 4, 0.2) 12.05%, rgba(0, 0, 0, 0) 46.06%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

    z-index: 1;
  }


  .overlay-content {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 579px !important;

    h1{
    font-family: $font_casbar !important;
    }
  }
}

.next-section {
  margin-top: 0;
}