.luxury-section {
  background-color: var(--theater-bg);
  color: #fff;

  .luxury-content {
    padding-right: 2rem;
    padding-bottom: 5px;

    .luxury-title {
      font-size: 2rem;
      font-weight: 400;
      color: var(--annen-highlight);
      margin-bottom: 1rem;
    }

    .luxury-description {
      font-size: 1rem;
      line-height: 1.6;
      color: #ccc;
      margin-bottom: 1.5rem;
    }

    h5 {
      color: var(--annen-highlight);
      margin-bottom: 0.5rem;
      font-weight: 400;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: flex;
        // justify-content: space-between;
        gap: 25px;
        padding: 0.3rem 0;
        font-size: 1rem;
        color: var(--p-annen);

        span {
          color: var(--p-annen);
          font-weight: 500;
        }
      }
    }

    .luxury-btn {
      display: inline-block;
      background-color: #816636;
      color: #ffffff;
      font-weight: 400;
      padding: 7px 15px;
      margin-top: 20px;
      border: 1px #B79A67;
      border-radius: 0;
      text-decoration: none;
      transition: 0.3s ease;

      @include respond(sm) {
        padding: 3px 10px;
        font-size: 14px !important;
        margin-bottom: 10px;
      }

      &:hover {
        background-color: #B79A67;
        color: #ffffff;
      }
    }
  }

  .luxury-image {
    img {
      border-radius: 0;
      width: 100%;
      height: 580px;
      max-height: 580px;
      object-fit: cover;

      @include respond(sm) {
        height: 280px;
        max-height: 280px;
      }

      @include respond(md) {
        height: 380px;
        max-height: 380px;
      }
    }
  }
}


.our-menu-section {
  background-color: var(--theater-bg);
  color: #FFFFFFCC;

  .menu-content {
    position: relative;

    @include respond(xl) {
      width: 520px;
    }

    padding-right: 0;
    padding-left: 3rem;
    @include respond(md){
      padding-left: 10px;
      max-width: 600px;
    }
  }

  .menu-title {
    font-size: 2rem;

    color: #FFFFFFCC !important;
    margin-bottom: 1rem;
  }

  .nav-tabs {
    margin: 32px auto;
    padding: 0;
    gap: 9px;
    font-family: $font-base;
    display: flex;
    justify-content: flex-start; // instead of center
    border-bottom: none;
    position: relative;
    overflow-x: auto; // allow horizontal scrolling
    overflow-y: hidden; // hide vertical scrollbar
    white-space: nowrap; // prevent wrapping
    scrollbar-width: none; // Firefox hide scrollbar
    -ms-overflow-style: none; // IE/Edge hide scrollbar

    &::-webkit-scrollbar {
      display: none; // Chrome/Safari hide scrollbar
    }

    .nav-item {
      flex: 0 0 auto; // keep each tab from shrinking
    }

    .nav-link {
      background: transparent !important;
      color: #ccc;
      border: none;
      border-radius: 0;
      margin-right: 1.5rem;
      padding: 0.3rem 0;
      font-size: 19px;
      transition: all 0.3s ease;
      position: relative;

      &.active {
        color: #c8a963;

        &::after {
          content: "";
          position: absolute;
          bottom: -9px;
          left: -8px;
          width: calc(100% + 28px);
          height: 4px;
          background: #c8a963;
          z-index: 100111;
        }
      }
    }
  }

  // underline line
  .nav-tabs::after {
    content: "";
    display: block;
    width: 100%; // stretch full width of scroll container
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* scroll wrapper */
  .tabs-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    /* smooth touch scrolling on iOS */
    margin-bottom: 8px;
    /* space for underline */
  }

  /* hide native scrollbar if you want (optional) */
  // .tabs-scroll-wrapper::-webkit-scrollbar { height: 6px; } /* visible if you want, remove to hide */

  /* make the UL a single non-wrapping flex row */
  .nav-tabs {
    display: flex !important;
    flex-wrap: nowrap !important;
    /* prevent wrapping */
    justify-content: flex-start !important;
    /* keep items left so they can scroll */
    gap: 9px;
    padding: 0;
    margin: 32px auto;
    position: relative;
    white-space: nowrap;
    /* extra safety */
  }

  /* ensure each item doesn't shrink */
  .nav-item {
    flex: 0 0 auto !important;
  }

  /* prevent the links/buttons from wrapping */
  .nav-link {
    display: inline-block;
    white-space: nowrap !important;
    padding: 0.3rem 0.5rem;
    margin-right: 1.5rem;
  }

  /* bottom rule that spans the visible area */
  // .tabs-scroll-wrapper::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   height: 1px;
  //   background: #333;
  //   pointer-events: none;
  // }

  // /* active tab underline */
  // .nav-link.active::after {
  //   content: "";
  //   position: absolute;
  //   bottom: -9px;
  //   left: -8px;
  //   width: calc(100% + 28px);
  //   height: 10px;
  //   background: #c8a963;
  //   z-index: 10111;
  // }



  .tab-content {
    .dish-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 1rem;

        .dish-price {
          width: 200px;
          font-family: $font-base;
          color: #F0EBE3;
          font-size: 16px;
          font-weight: 400;
          display: flex;
          justify-content: end;
          // position: absolute;
          right: 23px;
        }

        .list_heading {

          font-family: $font-second;
          font-weight: 500 !important;
          font-size: 1rem;
          color: white;

          @include respond(sm) {
            font-size: 12px;
          }
        }

        .list_line {
          font-family: $font-second;
          display: block;
          color: #FFFFFFCC;
          font-size: 1rem;
          margin-top: 0.2rem;
          font-weight: 400 !important;
          // white-space: nowrap; 
          // overflow: hidden;

          @include respond(sm) {
            font-size: 12px;
          }
        }

      }
    }
  }

  .menu-image {
    img {
      border-radius: 0px;
      width: 100%;
      height: 640px;
      max-height: 640px;

      @include respond(sm) {
        height: 280px;
        max-height: 280px;
      }

      @include respond(md) {
        height: 380px;
        max-height: 380px;
      }
    }
  }
}


.bottled-selections {
  background-color: var(--theater-bg);
  color: #FFFFFFCC;
  padding-bottom: 140px !important;

  img {
    height: 576px;
    max-height: 576px;
    object-fit: cover;
    border-radius: 0;

    @include respond(sm) {
      height: 280px;
      max-height: 280px;
    }

    @include respond(md) {
      height: 380px;
      max-height: 380px;
    }
  }

  .bottle-content {
    position: relative;
    max-width: 600px;

    @include respond(xl) {
      padding-right: 40px;
    }

    .section-title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }


    .tabs-scroll-wrapper {
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch; // smooth scrolling on iOS
      margin-bottom: 8px;

      /* Optional: hide scrollbar */
      scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
    }

    .nav-tabs {
      display: flex !important;
      flex-wrap: nowrap !important; // prevent wrapping
      justify-content: flex-start !important; // keep items left so they scroll
      gap: 20px;
      border: none;
      margin: 32px 0;
      font-family: $font-base;
      position: relative;

      .nav-link {
        background: transparent !important;
        color: #ccc;
        border: none;
        border-radius: 0;
        margin-right: 1.5rem;
        padding: 0.3rem 0;
        font-family: $font-base;
        font-size: 19px;
        transition: all 0.3s ease;
        position: relative;
        white-space: nowrap; // prevent wrapping

        @include respond(sm) {
          font-size: 14px;
        }

        &.active {
          color: #c8a963;
          border-bottom: none;

          &::after {
            content: "";
            position: absolute;
            bottom: -9px;
            left: -10px;
            width: calc(100% + 20px);
            height: 2px;
            background: #c8a963;
          }
        }

        &:hover {
          color: #fff;
        }
      }

      &::after {
        content: "";
        display: block;
        width: calc(100% - 30px);
        border-bottom: 1px solid #333;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .nav-item {
      flex: 0 0 auto !important; // stops shrinking of tabs
    }



    .wine-list {
      list-style: none;
      padding: 0;
      margin-top: 1rem;
      margin: 0;

      li {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        font-size: 1rem;
        font-family: $font-second;

        @include respond(sm) {
          font-size: 12px;
        }


        .wine-name {
          color: #FFFFFFCC;
          font-size: 1rem;
          font-weight: 500;

          @include respond(sm) {
            font-size: 12px;
          }
        }

        .wine-price {
          color: #FFFFFFCC;
          font-size: 1rem;
          min-width: 100px;
          text-align: right;

          @include respond(sm) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.join-our-team {
  background-color: var(--theater-bg);

  padding: 80px 120px !important;
  @include respond(sm){
    padding: 80px 6px !important;
    
  }

  .row {
    display: flex;
    align-items: start;
  }

  .join-team-content {
    // flex: 1 1 50%;
    padding-right: 40px;

    .section-title {
      // font-size: 2.2rem;
      font-weight: 400;
      margin-bottom: 20px;
      color: var(--annen-highlight);

    }

    a {
      color: var(--annen-highlight);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    color: var(--p-annen);

    .description {
      font-size: 1rem !important;
      line-height: 1.8;
      margin-bottom: 20px;
      color: var(--p-annen) !important;

      a {
        color: #c8a963;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .positions {
      margin-top: 20px;

      h4 {
        color: var(--annen-highlight);
        margin-bottom: 10px;
        font-size: 1.2rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 8px;
          font-size: 1rem;
          color: var(--p-annen);

          a {
            color: var(--p-annen);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .join-team-image {
    flex: 1 1 50%;

    img {
      width: 100%;
      height: 100%;
      max-height: 576px;
      object-fit: cover;
      border-radius: 0;
    }
  }

  @media (max-width: 991px) {
    .row {
      flex-direction: column;
    }

    .join-team-content {
      padding-right: 0;
      margin-bottom: 30px;
      text-align: center;
    }

    .join-team-image {
      img {
        max-height: 400px;
      }
    }
  }
}



.contact-us-section {
  background-color: var(--theater-bg);
  color: #fff;
  padding: 60px 0;

  .section-title {
    font-size: 2rem;
    color: var(--annen-highlight);
    margin-bottom: 1rem;
  }

  .contact-content {
    padding-right: 30px;

    p {
      color: #dcdcdc;
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    .contact-info {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: start;
        gap: 10px;
        margin-bottom: 1rem;
        color: #FFFFFFCC;
        font-size: 1rem;

        i {
          color: #FFFFFFCC;
          font-size: 1.2rem;
          min-width: 20px;
          padding-top: 3px;
        }

        a {
          color: #FFFFFFCC;
          text-decoration: none;

          &:hover {
            color: var(--annen-highlight);
          }
        }
      }
    }
  }

  .contact-image {
    img {
      width: 100%;
      height: 576px;
      object-fit: cover;
      border-radius: 0;
    }
  }

  @include respond(sm) {
    .contact-content {
      padding-right: 0;
      margin-bottom: 20px;
    }

    .contact-image img {
      height: auto;
    }
  }
}


.logo_annen {
  img {
    height: 80px !important;

    @include respond(sm) {
      height: 60px !important;
    }
  }
}

.footerlabelcolor {
  color: #FAF7F3B2;
}



.paddngrest {
  @include respond(xl){
  padding: 100px 80px !important;
  }
  @include respond(sm){
    padding-top: 0 !important;
    padding-bottom: 100px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

.bg-annen {
  background-color: black;
}